{% extends 'demo/layout.html' %}
{% block title %}
Cases
{% endblock %}

{% block content %}
<style media="screen">
    table {
        width:100%;
<!--        background: #989898;-->
        background: none;
        color: green;
<!--        border-spacing: 1px;-->
        border: 0;
    }
    td,th {
        width: 25;
        text-align: left;
<!--        background: #989898;-->
        background: none;
    }
</style>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Category</th>
        <th>Author</th>
<!--        <th>Reported</th>-->
<!--        <th>Reactive Measures</th>-->
<!--        <th>Investigate</th>-->
<!--        <th>Recommendations</th>-->
    </tr>
{% for case in cases %}
    <tr>
        <td><a href="/cases/list/{{ case.id }}">{{ case.id }}</a></td>
        <td>{{ case.title }}</td>
        <td>{{ case.date_created }}</td>
        <td>{{ case.category }}</td>
        <td>{{ case.author_id }}</td>
<!--        <td>{{ case.reported }}</td>-->
<!--        <td>{{ case.measures }}</td>-->
<!--        <td>{{ case.investigate }}</td>-->
<!--        <td>{{ case.recommendations }}</td>-->
    </tr>
{% endfor %}
</table>
{% endblock %}