{% extends 'demo/layout.html' %}
{% block title %}
Case
{% endblock %}

{% block content %}
<style media="screen">
    table {
        width:100%;
        background: #989898;
        color: black;
        border-spacing: 1px;
    }
    td,th {
        width: 25;
        text-align: left;
        background: #989898;
    }
</style>
<h1>Case Description</h1>
<table>
    <tr>
        <th>Description</th>
        <th>Date Created</th>
        <th>Body</th>
        <th>Category</th>
<!--        <th>Reported</th>-->
<!--        <th>Reactive Measures</th>-->
<!--        <th>Investigate</th>-->
<!--        <th>Recommendations</th>-->
    </tr>
{% set obj = cases %}
    <tr>
        <td>{{ obj.title }}</td>
        <td>{{ obj.date_created }}</td>
        <td>{{ obj.body }}</td>
        <td>{{ obj.category }}</td>
<!--        <td>{{ obj.reported }}</td>-->
<!--        <td>{{ obj.measures }}</td>-->
<!--        <td>{{ obj.investigate }}</td>-->
<!--        <td>{{ obj.recommendations }}</td>-->
    </tr>
</table>
<table>
    <tr>
        <th>Comment</th>
        <th>Date Created</th>
    </tr>
{% for comment in comments %}
    <tr>
        <td>{{ comment.text }}</td>
        <td>{{ comment.date_created }}</td>
    </tr>
{% endfor %}
</table>
<h1>Add Comment</h1>
<form id="CommentForm">
   <input id="text" placeholder="type comment">
   <button type="submit">SEND</button>
</form>
{% endblock %}