{% extends 'demo/layout.html' %}
{% block title %}
Cases
{% endblock %}

{% block content %}
<style media="screen">
    table {
        width:100%;
        background: white;
        color: black;
        border-spacing: 1px;
    }
    td,th {
        width: 25;
        text-align: left;
        background: white;
    }
</style>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Date Created</th>
    </tr>
{% for case in cases %}
    <tr>
        <td><a href="/cases/list/{{ case.id }}">{{ case.id }}</a></td>
        <td>{{ case.title }}</td>
        <td>{{ case.date_created }}</td></tr>
{% endfor %}
</table>
{% endblock %}