{% extends 'demo/layout.html' %}
{% block title %}
Case
{% endblock %}

{% block content %}
<style>
    table {
        width:100%;
        background: white;
        color: white;
        border-spacing: 1px;
    }
    td,th {
        background: maroon;
        padding:5px;
    }
</style>
<table><tr><th>ID</th><th>Description</th><th>Date Created</th><th>Body</th><th>Comments</th></tr></table>
{% set obj = cases %}
    <div class="case-preview">
        <table>
            <tr><td>{{ obj.id }}</td><td>{{ obj.title }}</td><td>{{ obj.date_created }}</td><td>{{ obj.body }}</td><td>{{ obj.comments }}</td></tr>
        </table>
    </div>
{% endblock %}