{% extends 'demo/base.html' %}

{% block body %}
<!-- Navigation-->
{% include 'demo/components/navigation.html' %}
<!-- Page Header-->
{% include 'demo/components/header.html' %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
        </div>
    </div>
</main>
{% block content %}
{% endblock %}
<!-- Footer-->
{% include 'demo/components/footer.html' %}
{% endblock %}