<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cases">Home</a></li>
<!--                <li class="nav-item"><a class="active3 px-lg-3 py-3 py-lg-4" href="/cases">Home</a></li>-->
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cases/list">List Cases</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cases/create">Create Case</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cases">{{ user }}</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--<script>-->
<!--    const storedName = localStorage.getItem("user_name");-->
<!--    document.getElementById('output').innerHTML = storedName;-->
<!--</script>-->